server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/wcaauth
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

wca:
  client-id: YOUR_CLIENT_ID
  client-secret: YOUR_CLIENT_SECRET
  redirect-uri: http://localhost:8080/api/auth/callback
  authorize-uri: https://www.worldcubeassociation.org/oauth/authorize
  token-uri: https://www.worldcubeassociation.org/oauth/token
  user-info-uri: https://www.worldcubeassociation.org/api/v0/me

