server:
  port: 8085

spring:
  application:
    name: search-service
  datasource:
    url: jdbc:postgresql://localhost:5432/wcadb
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

security:
  jwt:
    secret: your_jwt_secret_key